{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mahad Assalam - Hyderabad</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <!-- 🌙 Header -->
  <header class="bg-gradient-to-r from-purple-800 to-green-600 py-9 px-15 flex items-center shadow-md">
  <div class="flex items-center gap-4 ">
    <img src="{% static 'images/mahad_logo.png' %}" alt="Logo" class="ml-5 w-20 h-20 rounded-full bg-white p-.05 shadow-sm">
     <span class="absolute left-1/2 transform -translate-x-1/2 text-5xl font-semibold text-white">
    Mahad Assalam
    <p class="text-sm text-yellow-300 mt-1">Hyderabad</p>
  </span>
   
  </div>
</header>



    <!-- 📄 Page Content -->
    <div class="max-w-5xl mx-auto px-4 py-6">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
